.contact {
    background-image: url('../images/contact_us.jpg');
    width: 100%;
}


.btn-contact {
    height: 50px;
    width: 130px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 5px;
}

.btn-contact:hover {
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s ease;
}

.circle {
    
    width: 70px;
    height: 70px;
    background-color: palevioletred;
    color: black;
    padding: 12px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 50%;
      
}

.shake {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translateX(-5px);
    }
    20%, 80% {
      transform: translateX(5px);
    }
    30%, 50%, 70% {
      transform: translateX(-5px);
    }
    40%, 60% {
      transform: translateX(5px);
    }
  }


.fa-address-book {
    color: white;
    cursor: pointer;
}

.fa-phone-alt {
    color: white;
    cursor: pointer;
}

.fa-mail-bulk {
    color: white;
}


.contact .contact-title{
    font-size: 3rem;
    font-weight: 900; 
    color: palevioletred;
}

.contact .btn-submit {
    background-color: palevioletred;
    color:white;
    height: 50px;
    width: 130px;
    border-radius: 5px;

}

.btn-submit:hover {
    background: #248F6C;
    color: white;
    transition: 0.3s ease;
    border: 1px solid #248F6C;
    cursor: pointer;

}

.stable {
    resize: none;
}

#msg {
    color:#248F6C;
    margin-top: -10px;
    display: block;
}
