footer {
  background-color: black;
  color: lightgray;

}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .social-link:hover {
    background-color: blue;
  }
  
  .social-link i {
    color: white;
    font-size: 20px;
  }

.arrow-up-link {
    display: inline-flex;
    align-items: center;
    justify-content:center;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.arrow-up-link:hover {
    background-color: blue;
}