.main {
    background-image: url('../images/galaxy.jpg');
    width: 100%;
    
}

.bluish-letter {
    color:blue;
    animation: fade-in 2s ease-in-out infinite alternate;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

span {
    color:blue;
}

.pop-out {
    display: inline-block;
    transition: transform 0.3s;
  }

  .pop-out:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

.main h3 {
    font-size: 4rem;
    font-weight: 700;
    color:white;
}

.main h6{
    font-size: 1.4rem;
    color:white;
    text-transform: uppercase;
    /* line-height: 1;
    border-bottom: 3px solid black; */
    width: 46%;
}
